@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* Module */
.swal2-icon.swal2-error {
  border-color: #7066e0 !important;
  color: #7066e0 !important;
}
.swal2-container.swal2-center > .swal2-popup {
  width: 600px !important;
  padding: 3.5em !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --light-purple-color: #8854c0;
  --hover-purple-color: #c6b1dc;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --wrongRed: #f16d6d;
  --rightGreen: #9ae597;

  --transition: all 300ms ease-in-out;
}

.hidden {
  display: none !important;
}

/* Selected button style  */
.selected {
  background-color: var(--grey-color) !important;
  color: var(--dark-color) !important;
  border-color: var(--grey-color) !important;
  box-shadow: 0 4px 0 0 #bbb !important;
}

.wrongAnswer {
  background: var(--wrongRed) !important;
  border-color: #e25959 !important;
  color: var(--light-color) !important;
  box-shadow: 0 3px 0 0 #e25959 !important;
}

.rightAnswer {
  background: var(--rightGreen) !important;
  border-color: var(--rightGreen) !important;
  color: var(--dark-color) !important;
  box-shadow: 0 4px 0 0 #5f9a5d !important;
}
/* centering */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  color: var(--dark-color);
  background-color: var(--grey-color);
}

.hidden {
  display: none;
}

.wrapper {
  background-color: var(--light-color);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 600px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: relative;
  box-shadow: 0 4px 6px rgb(0 0 0/10%), 0 1px 3px rgb(0 0 0/10%);
}

.quiz-title {
  text-align: center;
  font-size: 2rem;
}

.quiz-score {
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  border: 5px solid var(--grey-color);
  margin-bottom: 1rem;
  font-weight: bold;
  width: 150px;
  height: 50px;
  margin: 0.5rem auto;
  color: var(--light-purple-color);
}

.stars {
  padding: 0 10px 0 40px;
}
.quiz-question {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.quiz-question .category {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--light-purple-color);
  color: var(--light-color);
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  display: inline-block;
}
.quiz-options {
  list-style-type: none;
  margin: 1rem 0;
}
.quiz-options li {
  border-radius: 0.5rem;
  font-weight: 500;
  margin: 0.7rem 0;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--light-purple-color);
  background-color: var(--light-purple-color);
  color: var(--light-color);
  box-shadow: 0 4px 0 0 #6c4298;
  transition: var(--transition);
}

.quiz-options li:hover {
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-color: var(--grey-color);
  box-shadow: 0 4px 0 0 #bbb;
}

.quiz-options li:active {
  transform: scale(0.97);
}

.quiz-title-category,
.quiz-title-complete {
  color: #6c4298;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1 4px 0 0 #bbb;
}
.startTitle {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  color: var(--light-purple-color);
}
.max-score {
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #858c32,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.finishScoreText {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  color: var(--light-purple-color);
}
.finishScoreText .finishScore {
  padding-top: 40px;
  font-size: 2rem;
}

.pickCategory {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  color: var(--light-purple-color);
}

.complete-page {
  margin: 50px auto;
}

.quiz-foot button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1rem;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--grey-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbb;
}

.quiz-foot button:hover {
  background-color: #e6e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
}

.quiz-foot button:active {
  transform: scale(0.9);
}

.categoryBtn button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 100%;
  white-space: normal;
  table-layout: fixed;
  margin: 1rem auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--grey-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbb;
}

.startNewGameBtn button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  background-color: var(--grey-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbb;
}
.startNewGameBtn button:hover {
  background: linear-gradient(to right, #601ed3, #6c47ac, #574577);
  box-shadow: 0 4px 0 0 #a7a7a7;
  color: var(--light-color);
}

.startNewGameBtn button:active {
  transform: scale(0.9);
}

.categoryBtn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

.categoryBtn button:hover {
  background-color: #e6e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
}

.categoryBtn button:active {
  transform: scale(0.9);
}

#play-again {
  display: none;
}

/* results styling */

@media (max-width: 678px) {
  .quiz-title {
    font-size: 1.2rem;
  }
  .wrapper {
    margin: 3rem 0;
    width: 90%;
    padding: 1.5rem 1rem 3rem 1rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .quiz-foot button {
    font-size: 1rem;
  }
}
